.highlight-auto-value {
  color: #1cb0f6;
  font-style: normal;
}
.b-autocomplete {
  position: relative;
  z-index: 10;
}
.suggestions-loading {
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.6rem;
  color: #b2b2b2;
}
.suggestions-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  top: 110%;
  left: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
  border-radius: 7px;
  &.is-child {
    position: absolute;
    top: 0;
    left: 102%;
    width: 100%;
  }
}
.suggestion-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  background-color: #fff;
  display: block;
  padding: 10px 15px 10px 15px;
  text-align: left;
  color: #afafaf;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .8px;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  &.is-disabled {
    color: #e5e5e5;
    background-color: #fff;
    cursor: not-allowed;
  }
  &.is-active {
    background-color: #ddf4ff;
    color: #1cb0f6;
    & > .cascade-icon > svg > path {
      fill: #1cb0f6;
    }
  }
  &:hover {
    background-color: #f7f7f7;
    &.is-active {
      background-color: #ddf4ff;
      color: #1cb0f6;
    }
    &.is-disabled {
      color: #e5e5e5;
      background-color: #fff;
    }
  }
  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  /*&:not(:last-child) {
    border-bottom: 2px solid #e5e5e5;
  }*/
}
