.b-radio-group {
  margin: 0;
  &.is-vertical {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    &.is-radio-style {
      align-items: flex-start;
    }
  }
}
.b-radio {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #777777;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  position: relative;
  &.is-button-style {
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 12px;
    border-style: solid;
    padding: 11px 15px;
    color: #777777;
    background-color: rgb(255, 255, 253);
    border-color: rgb(229, 229, 229);
    border-width: 2px 2px 4px;
    transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    & .b-radio__text {
      flex-grow: 1;
      text-align: center;
    }
    & .b-radio__serial {
      vertical-align: middle;
      text-align: center;
      width: 2rem;
      height: 2rem;
      line-height: 1.6rem;
      border-width: 2px;
      border-color: inherit;
      border-style: solid;
      border-radius: 6px;
      background-color: inherit;
      transform: translateX(-35%);
    }
    &.is-active {
      color: #1899d6;
      border-color: #84d8ff;
      background-color: #ddf4ff;
      /*& .b-radio__serial {
        border-color: #84d8ff;
        background-color: #ddf4ff;
      }*/
      &:hover {
        background-color:  #ddf4ff;
        /*& .b-radio__serial {
          background-color: #ddf4ff;
        }*/
      }
    }
    &:hover {
      background-color: #f7f7f7;
      /*& .b-radio__serial {
        background-color: #f7f7f7;
      }*/
    }
    &:active {
      border-width: 2px;
      margin-bottom: 2px;
      transform: translateY(2px) translateZ(0);
    }
  }
  &.is-disabled {
    border-width: 2px;
    pointer-events: none;
    cursor: not-allowed;
    color: #e5e5e5;
  }
  &:hover .b-radio__represent {
    border-color: #1cb0f6;
  }
  &__wrapper {
    padding: 3px 3px 3px 5px;
  }
  &__checked {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    width: 10%;
    transform: scale(1);
    transition: all .3s cubic-bezier(.78, .14, .15, .86);
  }
  &__represent{
    display: inline-block;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    border: 3.2px solid #84d8ff;
    position: relative;
    transition: all .1s ease;

    &.is-active {
      border-color: #84d8ff;
      & .b-radio__checked {
        top: -8%;
        left: 20%;
        width: 100%;
        transform: scale(1.5);
        opacity: 1;
      }
    }
    &.is-disabled {
      border-color: #e5e5e5;
      background-color: #e5e5e5;
      &::after {
        display: none;
      }
    }
    /*&::after {
      opacity: 0;
      transition: all .3s cubic-bezier(.78, .14, .15, .86);
      content: '';
      display: block;
      position: absolute;
      background-color: #1cb0f6;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      margin-top: .25rem;
      margin-left: .25rem;
      transform: scale(0);
    }*/
    &.is-active::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
