.loves-container {
  display: flex;
  align-items: center;
}
.love {
  display: inline-block;
  cursor: pointer;
  height: 18px;
  width: 22px;
  background-repeat: no-repeat;

  margin-right: 8px;
  transition: all 100ms linear 50ms;
  position: relative;
  background-image: url('love-gray.svg');
  background-size: 0 0;
  &-half {
    &__wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
    }
    flex-grow: 1;
  }
  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }
  &:hover {
    transform: scale(1.1);
  }
  &--half {
    background-size: 22px 18px;
    background-image: url('love-half.svg');
  }
  &--on {
    background-size: 22px 18px;
    background-image: url('love.svg');
  }
  &--off {
    background-size: 22px 18px;
    background-image: url('love-gray.svg');
  }
}

