
.love {
  display: inline-block;
  cursor: pointer;
  height: 18px;
  width: 20px;
  margin-right: 8px;
  transition: transform 100ms linear 50ms;
  position: relative;
  & img {
    height: 18px;
    width: 20px;
    vertical-align: top;
  }
  &-half {

    &__wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
    }
    flex-grow: 1;
    &.is-gray {
      filter: grayscale(100%);
    }
    &--left {

    }
    &--right {

    }
  }
  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }
  &:hover {
    transform: scale(1.1);
  }
  /*&--half {
    background-image: url('love-gray.svg');
  }
  &--on {
    background-image: url('love.svg');
  }
  &--off {
    background-image: url('love-gray.svg');
  }*/
}

