.b-select {
  z-index: 10;
  position: relative;
  width: 100%;
  &--multiple {
    cursor: pointer;
    display: inline-flex;
    width: 100%;
    padding: 2px 5px;
    border-radius: 8px;
    min-height: 40px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    color: #777777;
    height: auto;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    & .placeholder {
      padding-left: 10px;
    }
    &:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    align-items: center;
    flex-wrap: wrap;
    & .b-tag {
      margin-bottom: 1.5px;
      margin-top: 1.5px;
    }
  }
  &--inner {
    display: flex;
    align-items: center;
  }
  &.is-live .b-input {
    cursor: pointer;
    border-radius: 8px;
    padding: 0;
    background-color: #fff;
    &.is-focused {
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
  }
  &.is-live .b-input input {
    cursor: pointer;
    padding: 0 25px 0 15px;
    border-radius: 15px;
    min-height: 38px;
    &:focus {
      background-color: #fff;
    }
  }
  & .b-input {
    border-radius: 8px;
    padding: 0;
    &.is-focused {
      box-shadow: none;
    }
  }
  & .b-input input {
    padding: 0 25px 0 15px;
    border-radius: 15px;
    min-height: 38px;
  }
}
.select-button {
  &:hover:enabled {
    filter: none;
  }
}
.cascade-icon {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 16px;
  right: 5%;
  & svg {
    height: 10px;
    width: 16px;
  }
}
.spread-icon--wrapper {
  display: inline-flex;
  align-items: center;
  height: 12px;
  width: 12px;
  position: absolute;
  right: 15px;
}
.spread-icon--select {
  cursor: pointer;
  &.is-spread svg {
    transform: rotate(180deg);
  }
  &.is-color svg > path {
    fill: #1cb0f6;
  }
  & svg {
    transition: transform 0.2s ease-in-out;
    height: 6px;
    width: 12px;
  }
}
.spread-icon--fork {
  cursor: pointer;
  & svg {
    height: 12px;
    width: 12px;
  }
}
