.b-table {
    min-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.t-item {
    border: 1px solid #e5e5e5;
    color: #4c4c4c;
    line-height: 22px;
    padding: 12px 16px;
    text-align: left;
    border-left-width: 0;
    border-top-width: 0;
    position: relative;
    & .table-input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        border: none;
        padding-left: 15px;
        box-shadow: 12px 11px 4px -12px rgba(0, 0, 0, 0.75) inset;
        &:focus {
            box-shadow: 12px 11px 4px -12px rgba(0, 0, 0, 0.75) inset;
            outline: none;
        }
    }
    &.is-active {
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 2px solid #1cb0f6;
        }
    }
    &--head {
        font-weight: 700;
        color: #4c4c4c;
        background: #f7f7f7;
        border-bottom-width: 2px;
        border-bottom-color: #e5e5e5;
        &-wrapper {
            text-align: left;
            display: flex;
            justify-content: flex-start;
        }
    }
    &--leftT {
        border-top-left-radius: 6px;
        border-left-width: 1px;
    }
    &--rightT {
        border-top-right-radius: 6px;
    }
    &--first {
        border-left-width: 1px;
    }
    &--leftB {
        border-bottom-left-radius: 6px;
    }
    &--rightB {
        border-bottom-right-radius: 6px;
    }
}

.t-row {
    transition: background-color ease-out 0.1s;
    width: 100%;
    &:hover {
        background-color: #f7f7f7;
    }
    &.is-selected {
        background-color: #ddf4ff;
        & .t-item {
            border-right-color: #ddf4ff;
        }
        &:hover {
            background-color: #ddf4ff;
        }
    }
}

.sort-wrapper {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & .is-active {
        & path {
            fill: #1cb0f6;
        }
    }
    & svg {
        cursor: pointer;
        height: 5px;
        width: 8.5px;
    }
}