.pager-wrapper{
  list-style-image: none;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  height: 30px;
  .pager-item {
    color: #777777;
    margin-right: 5px;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 22px;
    min-width: 35px;
    height: 100%;
    cursor: pointer;
    padding: 2px 0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    border: 2px solid #e5e5e5;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &.is-active {
      border-color: #1cb0f6;
      color: #1cb0f6;
    }
    :last-child {
      margin-right: 0;
    }
    &:hover {
      border-color: #1cb0f6;
      color: #1cb0f6;
    }
    &.is-disabled {
      border-color: #e5e5e5;
      color: #e5e5e5;
      background-color: #f7f7f7;
      pointer-events: none;
      cursor: default;
    }
  }

}
